@(id: Long, updateEmployeeForm: Form[models.Employee], updateAddressForm: Form[models.Address], user: models.users.User)

@import helper._

@main("Update employee", user) {
    
<p class="lead"> Update Employee</p>

@form(action=routes.HomeController.updateEmployeeSubmit(id), 'class -> "form-horizontal", 
'role -> "form",'enctype -> "multipart/form-data") {
    @* CSRF attack prevention *@
    @CSRF.formField
    <container>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
        @inputText(updateEmployeeForm("fname"), '_label -> "Name", 'class -> "form-control")
        @inputText(updateEmployeeForm("lname"), '_label -> "Surname", 'class -> "form-control") 
        <label>Projects</label><br>
        @for((value, name) <- Project.options) {
            <input type="checkbox" name="projSelect[]" value="@value"

            /> @name <br>
        }
        <br><br>
        @select(
        updateEmployeeForm("department.id"), 
        options(Department.options), '_label -> "Department", '_default -> "-- Choose a department --", 
        '_showConstraints -> false, 'class -> "form-control"
        )
        
        @inputText(updateAddressForm("street"), '_label -> "Address", 'class -> "form-control")
        @inputText(updateAddressForm("county"), '_label -> "County", 'class -> "form-control")
    
    <label>Image </label>
    <input class = "btn-sm btn-default" type="file" name="upload">
    <br><br>

    <div class="actions">
        <input type="submit" value="Update Employee" class="btn btn-primary">
        <a href="@routes.HomeController.index(0)">
            <button type="button" class="btn btn-warning">Cancel</button>
        </a>
        </div>
    </div>
    </container>
 }
}
